:root{
    --color-form:#A78D48;
  }

h4{
    font-size: 30px;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 25px;
}
.text-form{
    font-size: 18px ;
}

.input-login{
    width:610px;
    padding: 10px;
}
.inputs{
    width: 98%;
    height: 35px;
    border-radius: 10px;
    background-color: var(--color-form);
    border: 1px solid var(--color-form);
    color: white;
    font-size: 18px;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}
.btn-create, .btn-entrar{
    box-shadow: 1px 1px #A78D48;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border:1px solid #A78D48;
    background-color: white;
}

.btn-entrar{
    width: 180px;
    background-color: var(--color-form);
    color: white;
}
