@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
  --color-form: #a78d48;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

h2 {
  font-size: 40px;
  color: white;
}
