@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
:root{
  --color-form:#A78D48;
}
body{
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  font-family: 'Nanum Gothic', sans-serif;
}

.container-app{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header{
  position: relative;
  background: linear-gradient(45deg, rgb(168 141 72), rgb(32 33 36));
  width: 100%;
  height: 100px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.logo{
  position: absolute;
  left: 2rem;
  width: 120px;
  height: 15s0px;
}

h2{
  font-size: 40px;
  color: white;
}